#define IDI_DESKLINK 101
#define RT_MANIFEST 24

IDI_DESKLINK ICON "../../apps/windows/assets/desklink.ico"
1 RT_MANIFEST "assets/installer.manifest"

1 VERSIONINFO
FILEVERSION 0,1,1,0
PRODUCTVERSION 0,1,1,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "DeskLink"
            VALUE "FileDescription", "DeskLink Setup"
            VALUE "FileVersion", "0.1.1"
            VALUE "InternalName", "desklink-installer"
            VALUE "LegalCopyright", "Copyright (c) 2026 DeskLink contributors"
            VALUE "OriginalFilename", "DeskLinkSetup.exe"
            VALUE "ProductName", "DeskLink"
            VALUE "ProductVersion", "0.1.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
